.article_type_exposition {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: calc((98.5vw * 50 / 100 - (1vh * 5)) / 4);
    grid-auto-rows: calc((98.5vw * 50 / 100 - (1vh * 5)) / 4);
    gap: 1vh;
}