.article__plug {
    width: 100%;
    height: 100%;
    padding: 1vh;
    box-sizing: border-box;
    background-color: var(--color1);
    display: flex;
    align-items: flex-start;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}